.ow_button {
	display: inline-block !important;
	padding: 1px !important;
	border: none !important;
	text-decoration: none !important;
	line-height: 12px !important;
}
.ow_button_border {
	display: inline-block !important;
	padding: 1px !important;
	border: 1px solid !important;
	border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	-moz-border-radius: 6px !important;
	text-decoration: none !important;
	line-height: 12px !important;
}
.ow_logo {
	display: inline-block !important;
	margin-right: 0px !important;
	border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
}
.ow_logo_img {
	height: 15px !important;
	padding: 0 !important;
	border: none !important;
	vertical-align: middle !important;
	display: inline !important;
}
.ow_text {
	display: inline-block !important;
	vertical-align: middle !important;
	font-weight: bold !important;
	padding-right: 3px !important;
	padding-left: 3px !important;
}
.ow_rounded_logo {
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	-khtml-border-radius: 10px !important;
	border-radius: 10px !important;
}
