/*
*************************************************

Harvard Alumni Affairs &amp; Development
Enhanced Screen Styles

Created by the friendly folks at Happy Cog
http://www.happycog.com/

*************************************************
*/



.carousel .carousel-controls { padding: 0; width: 98px; height: 32px; overflow: hidden; position: absolute; bottom: 20px; left: 50%; margin-left: -49px; }
	.carousel-controls a { float: left; width: 32px; height: 32px; background-image: url(../i/controls-carousel.gif); }
	.carousel-controls .next a { background-position: -99px -32px; border-left: 1px solid #333; }
	.carousel-controls .next a:hover, .carousel-controls .next a:focus { background-position: -99px 0; border-color: #ccc; }
	.carousel-controls .prev a { background-position: 0 -32px; }
	.carousel-controls .prev a:hover, .carousel-controls .prev:focus { background-position: 0 0; }
	.carousel-controls .stop { background-position: -33px -32px; border-left: 1px solid #333; }
	.carousel-controls .stop:hover, .carousel-controls .stop:focus { background-position: -33px 0; border-color: #ccc; }
	.carousel-controls .start { position: relative; bottom: auto; left: auto; background-position: -66px -32px; border-left: 1px solid #333;}
	.carousel-controls .start:hover, .carousel-controls .start:focus { background-position: -66px 0; border-color: #ccc; }

.carousel-inner .panel { display: block; }

.carousel-inner .view, .carousel-inner .view-content { height:auto; overflow:auto; }

#slider-nav .slides { /* -webkit-transform: none !important; -moz-transform: none !important; */ }
.isTouchEnabled #slider-nav { /*display: none !important;*/ }

.f-twitter-controls { width: 25px; position: absolute; top: 40px; right: 0px; }
.f-twitter-controls a { background-image: url(../i/controls-f-twitter.gif); height: 25px; float: left; }
.f-twitter-controls .bx-prev { width: 25px; border-bottom: 1px solid #cacaca; }
.f-twitter-controls .bx-prev:hover, .f-twitter-controls .bx-prev:focus { background-position: 0 -26px; }
.f-twitter-controls .bx-next {  width: 25px; background-position: -26px 0; }
.f-twitter-controls .bx-next:hover, .f-twitter-controls .bx-next:focus { background-position: -26px -26px;}
.f-twitter .bx-wrapper { border-right: 2px solid #cacaca; }


/*js endabled styles */
.with-nav-dropdown .trigger:hover ul, .with-nav-dropdown .trigger:focus ul {  display: none; }
.mag-trigger:hover .mag-dropdown { display: none; }
.mag-trigger .close { display: block; }
.school-list-toggler { display: block; }
.school-list-toggle { /* display: none; */}
.login:hover .login-dropdown { display: none; }


.share-module { display: block; }

.f-tab-nav-mobile { display: none; }
.f-tabs { display: block; }
.triangle { display: block; }
.mid-footer .split-1-2 { clear: none; } 

.tab-nav { display: block }
.tabs .move {  position: absolute; left: -9999em; }

